.message-contents__message-box
  .message-contents__message-box__upper-message
    .message-name
      = message.user.name
    .message-date
      = message.created_at.in_time_zone('Tokyo').to_s
  .message-contents__message-box__lower-message
    - if message.content.present?
      .message-content
        = message.content
    = image_tag message.image.url, class: 'message-contents__message-box__lower-message' if message.image.present?
