.top-bar
  チャットページが作成されました。
.wrapper
  .left-contents
    .top-box
      .name name
      .header-lists
        = link_to "groups/new" do
          %i.fa.fa-pencil-square-o.icon
        = link_to "edit" do
          %i.fa.fa-cog.icon
    .bottom-box
      %h3.group-name groupname
      %h4.message message
  .main-contents
    .main-header
      .left-header
        %h2.header-name groupname
        %h3.header-member Member: sagawa
      .right-header
        .edit-button
          = link_to "#", class: "edit-button" do
            Edit
    .message-contents
      .message-box
        .upper-message
          .message-name sagawa
          .message-date 2018/07/14 03:58
        .lower-message
          .message-content Hello!
    .form
      %input#message_content.form__message.js-content{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
      .form__mask
        %form{:action => "./filesend.cgi", :enctype => "multipart/form-data", :method => "post"}
          %label
            .filelabel
              %i.fa.fa-picture-o.icon
            %input.filesend{:name => "datafile", :type => "file"}/
      %input.form__submit{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/

