.message-contents__message-box
  .message-contents__message-box__upper-message
    .message-name sagawa
    .message-date 2018/07/14 03:58
  .message-contents__message-box__lower-message
    .message-content Hello!
